h1 {
    color: blue;
    text-align: center;
}

body {
  
}

.rowDiv {
    display: flex;
    justify-content: center;
}

.smallDiv {
    border: solid 1px black;
    width: 40px;
    height: 40px;
}

.colored {
    background-color: blue;
}

#reset-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 48%;
    margin-bottom: 10px;
    
}


